# default dir for created ingest packages
/packages/

*.gem

# configs probably shouldn't be committed!
.spofford-client.yml
config.yml

# IDE/editor files
/.idea/

# Created by 'bundle gem'
/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

